body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f8;
}

.dark {
    background: #0b1c2d;
    color: white;
}

header {
    background: #012169;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.hero {
    padding: 80px;
    text-align: center;
}

.card {
    width: 320px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

.dark .card {
    background: #1c2b3a;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #b21f2d;
    color: white;
    border: none;
}
