<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel | Scotitrust-Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Admin Dashboard</h2>

<table>
    <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Reference</th>
        <th>Status</th>
        <th>Date</th>
    </tr>

    {% for t in txns %}
    <tr class="{{ 'flagged' if t[4]=='FLAGGED' }}">
        <td>{{ t[0] }}</td>
        <td>{{ t[1] }}</td>
        <td>₦{{ t[2] }}</td>
        <td>{{ t[3] }}</td>
        <td>{{ t[4] }}</td>
        <td>{{ t[5][:19] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
