<!DOCTYPE html>
<html>
<head>
    <title>Admin | Scotitrust-Bank</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="nav">
    <h1>Compliance Dashboard</h1>
    <a href="/logout">Logout</a>
</header>

<section class="dashboard">

<div class="card">
    <h2>Flagged Transactions</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Ref</th>
        </tr>
        {% for t in tx %}
        <tr>
            <td>{{ t[5][:16] }}</td>
            <td>{{ t[1] }}</td>
            <td>{{ t[2] }}</td>
            <td>₦{{ t[3] }}</td>
            <td>{{ t[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</section>
</body>
</html>
