@app.route("/dashboard")
def dashboard():
    if "user" not in session:
        return redirect("/login")

    conn = sqlite3.connect(DB)
    c = conn.cursor()

    # Get balance and account number
    c.execute("SELECT balance, account_number FROM users WHERE username=?", (session["user"],))
    user_info = c.fetchone()
    balance = user_info[0]
    account_number = user_info[1]

    # Get user transactions
    c.execute("SELECT * FROM transactions WHERE sender=? OR receiver=?",
              (session["user"], session["user"]))
    tx = c.fetchall()
    conn.close()

    return render_template("dashboard.html", balance=balance, account_number=account_number, tx=tx)
